.boxdraw {
    -fx-padding: 15px 0px 0px 120px;
}

.buttondraw {
    -fx-min-width: 180px;
    -fx-background-color: #ed2e2e;
    -fx-border: none;
    -fx-color: white;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-cursor: pointer;
}

.buttondraw:hover {
    -fx-background-color: #b50000;
    -fx-cursor: hand;
}